@model DashboardData;
@{
    ViewData["Title"] = "Dashboard";
    Layout = "~/Views/Shared/_LayoutAccount.cshtml";

    var routeUrl = Url.RouteUrl(ViewContext.RouteData.Values);
    var qsPath = ViewContext.HttpContext.Request.QueryString.Value;
    var url = $"{routeUrl}{qsPath}";

}

@section Styles{
    <link href="~/css/dashboard.css" rel="stylesheet" type="text/css" />
}

@section Scripts{
    <script type="text/javascript">
        var cyclingCount = @Model.ActivitiesCycling.Count;
        var hikingCount = @Model.ActivitiesHiking.Count;
        var runningCount = @Model.ActivitiesRunning.Count;
        var swimmingCount = @Model.ActivitiesSwimming.Count;

        var dataActivities = @Html.Raw(Json.Serialize(Model.LineChartData["Activities"]))
        var dataHiking = @Html.Raw(Json.Serialize(Model.LineChartData["Hiking"]))
        var dataCycling = @Html.Raw(Json.Serialize(Model.LineChartData["Cycling"]))
        var dataRunning = @Html.Raw(Json.Serialize(Model.LineChartData["Running"]))
        var dataSwimming = @Html.Raw(Json.Serialize(Model.LineChartData["Swimming"]))
        var chartData = dataActivities
    </script>

    <script src="~/js/dashboard.js"></script>
    <script src="~/lib/chart.js/Chart.min.js"></script>
    <script src="~/js/charts/chart-area.js"></script>
    <script src="~/js/charts/chart-pie.js"></script>
}


<div class="container-fluid">
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Your Dashboard, @Model.User.FirstName</h1>
    </div>

    <div class="row">
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-primary shadow h-100 py-2" style="user-select:none;">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                Total activities
                            </div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">@Model.UserActivities.Count</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-heartbeat fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-success shadow h-100 py-2" style="user-select:none;">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                Total calories burned
                            </div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">@Model.TotalCalories</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-fire-alt fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xl-3 col-md-6 mb-4">
            <div style="cursor:pointer; user-select:none;" class="card border-left-info shadow h-100 py-2">
                <div onclick="changeFitnessCard(0, 1)" class="fitnessCards card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-info text-uppercase mb-1">
                                Activities: Cycling
                            </div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">@Model.ActivitiesCycling.Count</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-biking fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
                <div onclick="changeFitnessCard(1, 2)" class="d-none fitnessCards card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-info text-uppercase mb-1">
                                Activities: Running
                            </div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">@Model.ActivitiesRunning.Count</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-running fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
                <div onclick="changeFitnessCard(2, 3)" class="card-body d-none fitnessCards">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-info text-uppercase mb-1">
                                Activities: Hiking
                            </div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">@Model.ActivitiesHiking.Count</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-hiking fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
                <div onclick="changeFitnessCard(3, 0)" class="card-body d-none fitnessCards">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-info text-uppercase mb-1">
                                Activities: Swimming
                            </div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">@Model.ActivitiesSwimming.Count</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-swimmer fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-warning shadow h-100 py-2" style="user-select:none;">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                                Group memberships
                            </div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">@Model.UserGroups.Count</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-users fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <div class="row">
        <div class="col-xl-8 col-lg-7">
            <div class="card shadow mb-4">
                <div onclick="changeData(1, 2, 'Cycling')" style="cursor:pointer; user-select:none;" class="lineChartHeaders card-header py-3 d-flex flex-row align-items-center justify-content-between hoverHeader">
                    <h6 class="m-0 font-weight-bold text-primary">Activities Overview</h6>
                </div>
                <div onclick="changeData(2, 3, 'Running')" style="cursor:pointer; user-select:none;" class="lineChartHeaders card-header py-3 flex-row align-items-center justify-content-between d-none hoverHeader">
                    <h6 class="m-0 font-weight-bold text-primary">Cycling Activities Overview</h6>
                </div>
                <div onclick="changeData(3, 4, 'Hiking')" style="cursor:pointer; user-select:none;" class="lineChartHeaders card-header py-3 flex-row align-items-center justify-content-between d-none hoverHeader">
                    <h6 class="m-0 font-weight-bold text-primary">Running Activities Overview</h6>
                </div>
                <div onclick="changeData(4, 5, 'Swimming')" style="cursor:pointer; user-select:none;" class="lineChartHeaders card-header py-3 flex-row align-items-center justify-content-between d-none hoverHeader">
                    <h6 class="m-0 font-weight-bold text-primary">Hiking Activities Overview</h6>
                </div>
                <div onclick="changeData(5, 1, 'Activities')" style="cursor:pointer; user-select:none;" class="lineChartHeaders card-header py-3 flex-row align-items-center justify-content-between d-none hoverHeader">
                    <h6 class="m-0 font-weight-bold text-primary">Swimming Activities Overview</h6>
                </div>
                <div class="card-body">
                    <div class="chart-area">
                        <canvas id="myAreaChart"></canvas>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xl-4 col-lg-5">
            <div class="card shadow mb-4">
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">Diversity Of Activities</h6>
                </div>
                <div class="card-body">
                    <div class="chart-pie pt-2 pb-2">
                        @if ((Model.ActivitiesCycling.Count + Model.ActivitiesHiking.Count + Model.ActivitiesRunning.Count + Model.ActivitiesSwimming.Count) == 0)
                        {
                            <div class="text-center">No activities yet!</div>
                        }
                        else
                        {
                            <canvas id="myPieChart"></canvas>
                        }

                    </div>
                    <div class="mt-2 text-center small">
                        <span class="mr-2">
                            <i class="fas fa-circle text-primary"></i> Running
                        </span>
                        <span class="mr-2">
                            <i class="fas fa-circle text-success"></i> Cycling
                        </span>
                    </div>
                    <div class="text-center small">
                        <span class="mr-2">
                            <i class="fas fa-circle text-info"></i> Hiking
                        </span>
                        <span class="mr-2">
                            <i class="fas fa-circle text-secondary"></i> Swimming
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>




    <div class="row">
        <div class="col-lg-12 mb-4">
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Recent Activities</h6>
                </div>
                <div class="card-body">
                    @if (Model.ActivitiesLastMonth.Count != 0)
                    {
                        <table class="table table-hover table-sm mb-0">
                            <thead>
                                <tr>
                                    <th scope="col">Type</th>
                                    <th scope="col">Date</th>
                                    <th scope="col">Duration</th>
                                    <th scope="col">Distance</th>
                                    <th scope="col">Calories</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.ActivitiesLastMonth)
                                {
                                    <tr style="cursor:pointer;" onclick="location.href='@url/Activity?ActivityId=@item.pk_ActivityID';">
                                        <td>@item.ActivityType</td>
                                        <td>@item.StartTime.ToString("dd/MM/yyyy")</td>
                                        <td>@item.TTime</td>
                                        <td>@item.Distance</td>
                                        <td>@item.TotalCalories</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    }
                    else
                    {
                        <div>No recent activities found. Add a new one <a asp-controller="Account" asp-action="createActivity">here!</a></div>
                    }


                </div>
            </div>
        </div>
    </div>
</div>